<h1>@<%= current_user.username %>'s Tweeter Page</h1>
<h4>Here is what your "friends" are saying</h4>

<%= form_for Tweet.new, url: {action: "epi_tweet"} do |f| %>
	<%= f.text_field :message, class: "form-control" %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.submit "New Tweet", class: "btn btn-info" %>

<% end %>

<div>
	<% @following_tweets.each do |tweet| %>

			<div class="well">
				<div class="row">
					
					<div class="col col-lg-2 col-md-2 col-sm-2 col-xs-4">
						<%= image_tag tweet.user.avatar.url, class: 'show-pic' %>
					</div>
					
					<div class="col col-lg-10 col-md-10 col-sm-10 col-xs-8">

						<p>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %> said...</p>
						<p class="well"> <%= tweet.message.html_safe %></p>
					</div>

				</div>
			</div>
	<% end %>
</div>


