<!DOCTYPE html>
<html>
  <head>
    <title>Tweety</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
    	<div class='container'>
    <!-- NAV -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- NAV BRAND -->
           <%= link_to "Tweety Tweet Tweet", root_path, class: "navbar-brand" %>
    <!-- NAV TOGGLE BUTTON -->
             <button class="nav-btn pull-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <div class=" collapse navbar-collapse" id ="navbarTogglerDemo02" >
     <!-- LINKS IN NAV -->
              <ul class="navbar-nav mr-auto mt-2 mt-md-0">

                <li class="nav-item">
              <%= link_to "New tweet", new_tweet_path, class: "nav-link" %>
                </li>
                

                <li class="nav-item">
                 <%= link_to "All tweets", all_tweets_path, class: "nav-link" %> 
                </li>
<!-- Users -->
                 <li class="nav-item">
                      <%= link_to "All Users", all_users_path, class: "nav-link" %>
                </li>

  <!-- Devise -->
                 <% if user_signed_in? %>
                     <!-- Edit Profile -->
                    <li class="nav-item">
                        <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %>

                    </li>

                   

                    <li class="nav-item">
                    <!-- Devise Sign Out -->   
                           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>

                    </li>

                    <li class="nav-item">
                          <!-- AVATAR -->
                      <% if current_user.avatar.url != nil %>
                     <%= image_tag current_user.avatar.url, class: "thumb" %>
                     <% end %>

                    </li>

                <% end %>
              </ul>
      
              </div>

       
          </nav>
      <!-- INFO -->

  <% if user_signed_in? %>
        <div class="well side-info col col-lg-2 col-md-2 col-sm-3">
            
              <div >
                <p><%= image_tag current_user.avatar.url, class: 'show-pic' %></p>
              </div>
              <div >
                
                <p><strong>Name: </strong><%= current_user.name %></p>

                <p><strong>Location: </strong><%= current_user.location %></p>

                <p><strong>Bio: </strong><%= current_user.bio %></p>
              </div>
        </div>


      
    <!-- FEED -->
        <div class="col col-lg-7 col-md-7 col-sm-6">
        <%= yield %>
        </div>

    <!-- TAGS THAT ARE HOT TODAY-->
    	 <div class="well side-info col col-lg-3 col-md-3 col-sm-3">
          <div>
            <h2>#HotTags</h2>
            
            <% hot_tags.each do |tag| %>
              <%= link_to tag.phrase, tag_tweets_path(id: tag.id) %>

            <%end %>

          </div>
      
<!-- HOTTEST TWEETER -->
          <div> 
          <h2>@Top Tweeter</h2>

          <%= link_to "@#{top_tweeter.username}", show_user_path(id:top_tweeter.id) %> with <%= top_tweets %> tweets!

          </div>  

      </div>

  <% else %>
      <%= yield %>
  <% end %> 

      <!-- END -->

      </div>
    </div>
  </body>
</html>
